@model Farhampton.Models.reservation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }



<title>Login</title>

<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
input[type=text], select {
    width: 25%;
    padding: 8px 20px;
    margin: 4px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=password], select {
    width: 25%;
    padding: 8px 20px;
    margin: 4px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=submit] {
    width: 25%;
    background-color: #24ADF6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

input[type=submit]:hover {
    background-color:#6724F6;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 7px;
}
</style>
<body>

    <div class="grid flex">
      <div class="row">
        <div class="colw_6">
          <h1 id="title-sub1">Farhampton Hotel</h1>
          <h2 id="title-sub2">RESERVATION</h2>
        </div>
      </div>
    </div>
   
    

    <div >
        <center>
            <h2> Thank You @Model.name !</h2>
            <p>                </p>
            <p> Our staff will contact you shortly for booking confirmation. </p>


         </center>
        <center>
            <div>
                @Html.ActionLink("Go back to Home Page.", "Index", "Home") 
            </div>
        
            
        </center>

        <div id="section-credits">
    <div class="grid">
      <div class="row paddtop100">
        <div class="col_12">
          <h5 class="title-gray center">Farhampton Hotel - Providing you the comfort you need</h5>
        </div>
        <!-- END col_12 -->
      </div>
      <!-- END row --> 
      
    </div>
    <!-- End GRID FLEX -->
    
  </div>

    </div>
</body>
